<% include partials/header.ejs %>
<div class="wrapper">
  <% include partials/navigation.ejs %>
  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
  reserved.
</footer>
<% include partials/footer.ejs%>